<section>
    <a name="Skills"></a>
    <div class="main-hard-skills">
        <div class="title">
            <h1 class="text-align-center">My Skills</h1>
        </div>
    
        <div class="container-skills row">
            <div class="container-fluid-card col-12">
                
                <div class="col-xl-3 col-lg-4 col-md-8 col-sm-12 cards card-first">
                    <div class="elementor elementor1">
                        <div class="icon-left d-flex">
                            <i class="fa fa-display icons"></i>
                            <h5 class="icon-box-title">
                                <span class="title-underline red">Software</span>
                                <br>
                                Development
                            </h5>
                        </div>
                        <div class="container-description">
                            <div class="line">
                                <div class="description">
                                    Experienced in both functional and OOP: Dart, Python, Java, JavaScript, TypeScript.
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-8 col-sm-12 cards card-second">
                    <div class="elementor elementor2">
                        <div class="icon-left d-flex">
                            <svg class="icons" width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M38.8842 0.625244L2.77448 13.3331L8.48005 60.6432L38.9226 77.3748L69.5218 60.4171L75.2255 13.1083L38.8842 0.625244Z" fill="white"/>
                                <path d="M71.6235 15.8425L38.8001 4.64893V73.3773L66.3079 58.1533L71.6235 15.8425Z" fill="black"/>
                                <path d="M6.82562 16.0442L11.7165 58.3556L38.7995 73.3773V4.64771L6.82562 16.0442Z" fill="black"/>
                                <path d="M47.8353 41.2364L38.8001 45.4618H29.2768L24.7997 56.6584L16.4738 56.8132L38.8001 7.14429L47.8353 41.2364ZM46.9615 39.1091L38.8598 23.0697L32.214 38.833H38.7995L46.9615 39.1091Z" fill="#F2F2F2"/>
                                <path d="M38.7995 7.14429L38.8592 23.0697L46.4002 38.8452H38.816L38.7995 45.4514L49.2862 45.4618L54.1868 56.8144L62.1538 56.9619L38.7995 7.14429Z" fill="white"/>
                                </svg>
                                
                            <h5 class="icon-box-title">
                                <span class="title-underline light-purple">Frontend Dev</span>
                                <br>
                                Angular
                            </h5>
                        </div>
                        <div class="container-description">
                            <div class="line">
                                <div class="description">
                                    Gosto muito de UI/UX. Desde os 16 anos estudando desenvolvimento web. Experiencia em: HTML, CSS, JS, TS, Angular e React.
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-8 col-sm-12 cards card-third">
                    <div class="elementor">
                        <div class="icon-left d-flex">
                            <svg class="icons" width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M70.3219 18.7078L40.8891 1.76714C40.4016 1.46245 39.7313 1.34058 39 1.34058C38.2687 1.34058 37.5984 1.52339 37.1109 1.76714L7.86094 18.7687C6.825 19.3781 6.09375 20.9015 6.09375 22.0593V56.0015C6.09375 56.6718 6.21562 57.464 6.70312 58.1343L71.7844 20.3531C71.4188 19.6218 70.8703 19.0734 70.3219 18.7078Z" fill="#303030" fill-opacity="0.56"/>
                                <path d="M6.52026 57.5249C6.82495 58.0124 7.25151 58.439 7.67808 58.6827L37.0499 75.6843C37.5375 75.989 38.2078 76.1108 38.939 76.1108C39.6703 76.1108 40.3406 75.928 40.8281 75.6843L70.0781 58.6827C71.114 58.0733 71.8453 56.5499 71.8453 55.3921V21.4499C71.8453 20.9015 71.7843 20.2921 71.4796 19.7437L6.52026 57.5249Z" fill="#303030" fill-opacity="0.56"/>
                                <path d="M51.9797 46.3124C49.4203 50.8218 44.5453 53.8687 39 53.8687C30.7734 53.8687 24.0703 47.1655 24.0703 38.939C24.0703 30.7124 30.7734 24.0093 39 24.0093C44.5453 24.0093 49.4203 27.0562 51.9797 31.6265L59.9016 27.0562C55.7578 19.8046 47.9578 14.8687 39 14.8687C25.7156 14.8687 14.9297 25.6546 14.9297 38.939C14.9297 52.2233 25.7156 63.0093 39 63.0093C47.8969 63.0093 55.6969 58.1343 59.8406 50.9436L51.9797 46.3124ZM59.1094 40.2796L59.6578 37.6593H57.0984V34.7952H60.2063L60.9375 31.0171H63.9234L63.1922 34.7343H65.5078L66.2391 31.0171H69.1641L68.4328 34.7343H69.8953V37.5983H67.8844L67.3359 40.2187H69.8953V43.0827H66.7875L66.0563 46.739H63.0703L63.8016 43.0827H61.4859L60.7547 46.739H57.8297L58.5609 43.0827H57.0984V40.2187H59.1094V40.2796ZM62.0344 40.2796H64.35L64.8984 37.6593H62.5828L62.0344 40.2796Z" fill="white"/>
                                <rect x="1" y="1" width="76" height="76" stroke="black" stroke-width="2"/>
                                </svg>                                                            <h5 class="icon-box-title">
                                <span class="title-underline dark-purple">Backend Dev</span>
                                <br>
                                C#
                            </h5>
                        </div>
                        <div class="container-description">
                            <div class="line">
                                <div class="description">
                                    Habilidade em desenvolver APIS, e controle de fluxos. Com experiencia em C# e VB
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="main-soft-skills-container">
        <div class="title">
            <h1>Soft Skills</h1>
        </div>
    
        <div class="main-soft-skills row">
            <div class="main-soft col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="container-soft-skills col-lg-3 col-md-8 col-sm-8">
                    <span class="title-habilidade">Criatividade</span>
                    <div class="range-skills">
                        <div class="dot criatividade"></div>
                    </div>
                </div>
                <div class="container-soft-skills col-lg-3 col-md-8 col-sm-8">
                    <span class="title-habilidade">Comunicação</span>
                    <div class="range-skills">
                        <div class="dot comunicacao "></div>
                    </div>
                </div>
                <div class="container-soft-skills col-lg-3 col-md-8 col-sm-8">
                    <span class="title-habilidade">Organização</span>
                    <div class="range-skills">
                        <div class="dot organizacao"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

</section>