<main>
    <app-navbar-component></app-navbar-component>
    <div class="main-about row ">
        <div class="container-about col-12">
            <span class="title col-md-6 col-sm-12" >Oiii, sou o Gabriel</span>
            <span class="desc-title col-md-6 col-sm-12">Desenvolvedor FullStack, focado mais para o Front end.</span>
            <img id="minhaFoto" src="../../../assets/images/eu-recortado.png" alt="eu" srcset="" width="600px">
        </div>
    </div>
    
    <app-fullstack></app-fullstack>
    <app-hardskills-component></app-hardskills-component>
    <app-experience-component></app-experience-component>
    
    
    
    
    <app-footer-component></app-footer-component>
</main>


