<section>
<a name="Experience"></a>

    <div class="main-experience row">
        <h1>Professional Experience</h1>
        <div class="container-main">
            <div class="container-experience col-lg-8 col-md-10 col-sm-12 col-xs-12">
                <div class="card-experience ">
                    <aside>
                        <div class="cargo-job">
                            <p>Software Engineer </p>
                        </div>
                        <div class="job-name">
                            <p> @ Goop - Takao</p>
                        </div>
                    </aside>
                    <aside>
                        <div class="time">
                            <p>2023 - Present</p>
                        </div>
                        <div id="menuToggle">
                            <input id="checkbox" type="checkbox" class="show" checked >
                            <label class="toggle" for="checkbox" (click)="clicou('first')">
                                <div name="bar--top" id="bar--top" class="bar bar--top first"></div>
                                <div name="bar--middle" id="bar--middle" class="bar bar--middle first"></div>
                                <div name="bar--bottom" id="bar--bottom" class="bar bar--bottom first"></div>
                            </label>
                        </div>
                    </aside>
                </div>
            </div>
            <div id="collapse1" class="container-job col-lg-8 col-md-10 col-sm-12 col-xs-12 show">
                <div class="fluid-container-job col-12">
                    <div class="content-job col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="header-job">
                            <p>São Paulo, Brasil</p>
                        </div>
                        <div class="job-description">
                            Desenvolvimento front-end. Criação de novas funcionalidades e a manutenção de um E-commerce B2B
                        </div>
                        <div class="job-habilites">
                            <ul>
                                <li>Angular</li>
                                <li>TypeScript</li>
                                <li>MongoDB</li>
                                <li>C#</li>
                                <li>HTML</li>
                                <li>CSS</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <img src="../../../assets/images/MicrosoftTeams-image (1).png" width="200px">
                    </div>
                </div>
            </div>
        </div>

        <div class="container-experience col-lg-8 col-md-10 col-sm-12">
            <div class="card-experience ">
                <aside>
                    <div class="cargo-job">
                        <p>Analista de Dados </p>
                    </div>
                    <div class="job-name">
                        <p> @ Moore Msll</p>
                    </div>
                </aside>
                <aside>
                    <div class="time">
                        <p>2023 - 2023</p>
                    </div>
                    <div id="menuToggle">
                        <input id="checkbox2" type="checkbox" class="show" >
                        <label class="toggle" for="checkbox2" (click)="clicou('second')">
                            <div name="bar--top" id="bar--top" class="bar bar--top first"></div>
                            <div name="bar--middle" id="bar--middle" class="bar bar--middle first"></div>
                            <div name="bar--bottom" id="bar--bottom" class="bar bar--bottom first"></div>
                        </label>
                    </div>
                </aside>
            </div>
        </div>
        <div id="collapse2" class="container-job col-lg-8 col-md-10 col-sm-12 second hide">
            <div class="fluid-container-job col-12">
                <div class="content-job col-lg-8">
                    <div class="header-job">
                        <p>São Paulo, Brasil</p>
                    </div>
                    <div class="job-description">
                        Formatação e análise de documentos contábeis como: lançamentos contábeis, livros de entradas e saídas, balanço/DRE, razões, speds, contas a receber
                    </div>
                    <div class="job-habilites">
                        <ul>
                            <li>Python</li>
                            <li>VBA</li>
                            <li>Excel</li>
                            <li>IDEAScript</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img src="../../../assets/images/moore.jpg" width="200px">
                </div>
            </div>
        </div>


        <div class="container-experience col-lg-8 col-md-10 col-sm-12">
            <div class="card-experience ">
                <aside>
                    <div class="cargo-job">
                        <p>Estagiario EAD </p>
                    </div>
                    <div class="job-name">
                        <p> @ Fiap On</p>
                    </div>
                </aside>
                <aside>
                    <div class="time">
                        <p>2022 - 2022</p>
                    </div>
                    <div id="menuToggle">
                        <input id="checkbox3" type="checkbox" class="show" >
                        <label class="toggle" for="checkbox3" (click)="clicou('third')">
                            <div name="bar--top" id="bar--top" class="bar bar--top first"></div>
                            <div name="bar--middle" id="bar--middle" class="bar bar--middle first"></div>
                            <div name="bar--bottom" id="bar--bottom" class="bar bar--bottom first"></div>
                        </label>
                    </div>
                </aside>
            </div>
        </div>
        <div id="collapse3" class="container-job col-lg-8 col-md-10 col-sm-12 card-third hide">
            <div class="fluid-container-job col-12">
                <div class="content-job col-lg-8">
                    <div class="header-job">
                        <p>São Paulo, Brasil</p>
                    </div>
                    <div class="job-description">
                        Gestão e administração da plataforma virtual de aprendizagem;
                        Criação de turmas;
                        Cadastro de professores e colaboradores externos;
                        Acompanhamento e recebimento de conteúdos;
                        Cadastro de provas, atividades, testes, lives e eventos;
                        Sustentação dos cursos já existentes;
                        Suporte e comunicação com professores, coordenadores e alunos;
                    </div>
                    <div class="job-habilites">
                        <ul>
                            <li>Excel</li>
                            <li>Suporte ao Cliente</li>
                            <li>Comunicação</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img src="../../../assets/images/fiap.png" width="200px">
                </div>
            </div>
        </div>
    </div>


</section>